<ion-header [translucent]="true">
  <ion-toolbar>  
    <ion-title class="ion-text-center">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <!-- Inputs with labels -->
    <ion-item>
      <ion-label position="floating">Username:</ion-label>
      <ion-input type="text" #user></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" #pass></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="eventSignIn(user.value, pass.value)">Sign In</ion-button>

    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
