<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">{{userName}}</ion-title>

    <ion-avatar slot="end" class="icon">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" title="{{userName}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button expand="block" [routerLink]="['/projects']">Projects list</ion-button>
    <ion-button expand="block" [routerLink]="['/profiles']">Developers list</ion-button>
  </div>
</ion-content>