<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  
    <ion-title class="ion-text-center">Profiles</ion-title>

    <ion-avatar slot="end" class="icon">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" title="{{userName}}">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let dev of this.listDev">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" title="{{dev.name}}">
        </ion-avatar>
        <ion-label>
          <h2>{{dev.name}}</h2>
          <p>{{dev.description}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>  
</ion-content>
