#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10%;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

ion-avatar {
  &.icon {
    padding: 0.75em;
  }

  &[slot="start"] {
    margin-left: unset;
    margin-right: unset;
    margin-inline-start: 0px;
    margin-inline-end: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}